<h1>Réinitialisation du mot de passe</h1>

<p>
    Bonjour,
</p>
<p>
    Afin de définir un nouveau mot de passe, veuillez cliquer sur le lien suivant :<br><br>
    <a href="{{ url }}">Définir un nouveau mot de passe</a>.
</p>

<p>
    Merci et à bientôt !
</p>
