{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-7 mx-auto">
				<div class="card bg-light mb-3 mt-5">
					<div class="card-body">
						<div class="card-header mb-3 text-center">>Réinitialisation du mot de passe</div>
						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div class="alert alert-{{ label }}" role="alert">
									{{ message }}
								</div>
						    {% endfor %}
						{% endfor %}
						{{ form(passForm) }}
{% endblock %}