<h1>Bonjour, veuillez confirmer votre adresse e-mail !</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant :<br><br>
    <a href="{{ url }}">Confirmer mon courriel</a>.
</p>

<p>
    Merci et à bientôt !
</p>
